body{
   background-color: #fafaff ;
}
.www{
    list-style: none;
    margin: 0;
    padding-left: 0;
}
h3{
    font-size: 50px;
}
.www li{
	display: inline;
	font-size: 30px;
	
 }
 .eee{
    margin: 10% 10% 0 10%;
    background-color: blue;
    border-radius: 30px;
    text-align: center;

}
.ttt{
    text-align: center;
}
a{
    text-decoration: none;
    color: gray;
    padding: 10px ;
}
.ooo{
	border-radius: 20px;
	width: 300px;
	height: 450px;
	background-color: white;
	margin:10px;
	padding: 10px;
	text-align: center;
	position: absolute;
	top: 127.5%;
	left: 0;
 }


 .ppp{
	background-color:  #ffed54;
	border-radius: 30px;
	text-align: center;
	width: 260px;
	height: 70px;
	font-size: 25px;
    margin:10px;
	padding: 10px;
 }
 .aaa{
	background-color:#9bf7ff;
	width: 260px;
	height: 70px;
	border-radius: 30px;
    font-size: 25px;
    margin:10px;
	padding: 10px;
 }
 .card div{
    width: 210px;
    height: auto;
    background-color: white;
    border-radius: 10px;
    padding: 1%;
    display: inline-block;
    margin: 20px 0;
}
.iii{
	border-radius: 10%;
	background-color: blue;
	color: white;
	text-align: center;
	width: 100px;
	height: 50px;
 }
 .uuu{
    width: 200px;
    height: 200px;
    border-radius: 10px;
}
.ppp:hover{
	background-color: #ff8700;
	color: white;
 }
 .aaa:hover{
	background-color: blue;
	color: white;
 }

 footer {
    background-color: #333;
    color: white; 
    text-align: center; 
    padding: 10px 0; 
    margin-top: auto; 
    font-weight: bold; 
}
footer img{
	width: 50px;
	height: 50px;
	position: absolute;
	left: 30%;
}

hr{
	height: 10px;
	background-color: #1912e6 ;
}